.primary-bg-color { background-color: #FFC93C; }
.secondary-bg-color { background-color: #FF9A3C; }

.donation-needed {
    font-size: 1rem;
    position: absolute;
    background-color: #FF9A3C;
    right: 20px;
    bottom: 20px;
    padding: 10px;
}

.logo {
 width: 125px;
}

.wallet-img {
    width: 13rem;
    cursor: pointer;
}

.icon {
    width: 50px;
    display: block;
    margin: auto;
}

.img-rounded {
    width: 100%;
}

.addRestaurant__price {
    font-size: 1.4rem;
}

.token__label {
    position: absolute;
    right: -15px;
    top: 5px;
    width: 70px;
    transform: rotate(45deg);
}

.relative { position: relative; }